/* Codingburn Css Code */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    overflow-y: scroll; /* Enable vertical scrolling */
    overflow-x: hidden;
    /* Hide scrollbar for webkit browsers (Chrome, Safari) */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For IE and Edge */
    /* background-color: #0f172a; */
}

:root{
   --accent-color:#0556f3;
   --accent-color-dark:#074ad1;
   --primary-text-color:#fff;
   --primary-text-color-dark:#0a0a0a;
   --mc1:#353537;
   --mc2:#acacae;
   --mc3: #0e1526;
   --mc4:#152136;
   --mc5:#02af6f;
   --mc6:#152038;  
   --mc7:#50ff1f;
   --inline-padding:10px 10px;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 2.4rem;
    margin: 0;
}
h3{
    font-size: 1.6rem;
    color: var(--primary-text-color);
}
h4{
    color: var(--primary-text-color);
}
p{
    font-size: 1.1rem;
}
span{
    font-size: 1.1rem;
}
a, li{
    text-decoration: none;
    list-style: none;
    color: var(--primary-text-color);
    font-size: 16px;
    transition: .3s ease-in-out;
    font-family: 'Poppins',sans-serif;
}
li :hover{
    color:#e1dcdc;
    transform: scale(1.1rem);
}
i{
    align-items: center;
    margin-left: 5px;
}

/* Utility Classes */
.container{
    max-width: 1280px;
    margin-inline: auto;
    padding: var(--inline-padding);
}
.flex{
    display: flex;
    align-items:flex-end;
}
.area-box{
    width: 50%;
    /* background-color: #ed9797; */
    /* border: 1px solid var(--primary-text-color-dark); */
}   
.lower-area{
    height: calc(60vh - 8vh);
    /* background-color: red; */
}
.logo{
    height: 40px;
}
.btn{
    height: 30px;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(233, 30, 99, 1);
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: #fff;
    align-items: center;
}
.btn:hover{
    background-color: rgb(208, 18, 81);
    cursor: pointer;
}
#save-button{
    background-color: #0556f3;
    transition: .2s ease-in-out;
}
#save-button:hover{
    border: 1px solid var(--accent-color);
    background-color:var(--primary-text-color);
    color: var(--accent-color);
    /* transform: scale(1.1); */
}
#load-button{
    background-color: #f37405;
}
.primary-button{
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    transition: .3s ease-in-out;
    font-weight: 500;
}
.primary-button:hover{
   background-color: #084acf;
   color: var(--primary-text-color);
   transition: .3s ease-in-out;
}
.secondry-button{
    border: 1px solid var(--accent-color);
    background-color: var(--mc3);
    transition: .3s ease-in-out;
}
.secondry-button:hover{
    background-color: var(--primary-text-color);
    transition: .3s ease-in-out;
    color: var(--accent-color);
}
.sub-title{
    font-size: 23px;
    padding: 0;
    color: var(--primary-text-color); /* Set text color to transparent */
    /* background-image: linear-gradient(114.94deg, #a091ff 9.66%, #52b9ff 87.27%);
   -webkit-background-clip: text; */
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 18px;
}
.text-section{
    width: 100%;
    text-align: center;
}
.title{
    font-size: 2.5rem;
    color: var(--primary-text-color);
    padding: 0;
    width: 100%;    
    letter-spacing: .07rem;
    font-weight: 700;
    text-align: center;
}

/* ::-webkit-scrollbar {
    height: 1px; Adjust the height to change scrollbar height
}

::-webkit-scrollbar-track {
    background-color: var(--mc1);
}

::-webkit-scrollbar-thumb {
    background-color: var(--mc2);
} */
.highlight{
    color: var(--mc5);
    font-size: 2.4rem;
}
.icon{
    height: 20px;
}
.box{
    width: 50%;
    border: 1.5px solid var(--primary-text-color);
    border-radius: 10px;
}
.box-area{
    flex-direction: row;
    /* background-color: red; */
    padding-left: 10PX;
    gap: 17px;
}
/* Style for highlighted line */
.CodeMirror-activeline-background {
    background-color: #f0f0f0; /* Adjust as needed */
}
.CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 20px;
}
.cm-s-monokai .CodeMirror {
    background: #2846ed;
    color: #232301;
}
.most-imt-txt{
    font-size: 2.4rem;
    color: var(--mc5);
}
/* code editor section */
.codingburn{
    max-width: 100%;
    max-height: auto;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color:var(--mc3);
}
.codingburn .codingburn-header {
    width: 100vw;
    height: 80px;
    background-color: var(--mc4);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}
.codingburn .codingburn-header .main-nav{
    height: 80px;
    width: 100%;
    padding: 0;
    align-items: center;
}
.codingburn .codingburn-header .main-nav 
.logo-container{
    height: 80px;
    align-items: center;
    padding-top: 5px;
}
.codingburn .codingburn-header .main-nav  
.logo-container a .logo{
    height: 50px;
}

.codingburn .codingburn-header .main-nav
.middle-container{
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}
.codingburn .codingburn-header .main-nav
.menu-ul{
    gap: 29px;
    font-size: 14px;
    color: var(--primary-text-color);
}

.codingburn .codingburn-header .main-nav
.right-container{
    width: 30%;
}
.codingburn .codingburn-header .main-nav
.right-container .menu-ul{
    width: 100%;
    justify-content: flex-end;
}
.codingburn .codingburn-header .main-nav
.right-container .menu-ul .sign-up{
    padding: 10px 21px 10px 21px;
    border-radius: 20px;
    align-items: center;
}
.codingburn .codingburn-header .main-nav
.right-container .menu-ul .sign-in{
    padding: 10px 21px 10px 21px;
    border-radius: 20px;    
    align-items: center;
}

#main{
    width: 100%;
    flex-direction: column;
    gap: 20px;
    /* background-color: red; */
}

.codingburn .codingburn-main {
    width: 90%;
    flex-direction: column;
    /* background-color: wheat; */
}

.code-editor-section{
    width: 93%;
}
.codingburn .codingburn-main .code-editor-box { 
    height: 450px;
    background-color: #3c3c49;
    padding: 5px; /* Add padding */
    border-radius: 10px;
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 15px -3px rgba(4, 63, 255, 0.1); /* Add 3D shadow effect */
}
.codingburn .codingburn-main 
.code-editor-box .input-area{
    height: 100%;
    width: 70%;
}
.codingburn .codingburn-main 
.code-editor-box .input-area .upper-area{
    height: 14%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 49px;
}

.line2{
    width: 50%;
    justify-content: flex-end;
    gap: 9px;
}

.codingburn .codingburn-main 
.code-editor-box .input-area .lower-area{
    height: 86%;
    /* background-color: #0556f3; */
}
.CodeMirror{
    height: 100%;
}
.cm-s-monokai.CodeMirror {
    background: #0e1526;
}
.CodeMirror-gutter{
    background-color:#3c3c49;
}
.codingburn .codingburn-main 
.code-editor-box .output-area{
    height: 100%;
    width: 30%;
    align-items: center;
    overflow: hidden;
}
.codingburn .codingburn-main 
.code-editor-box .output-area .upper-area{
    height: 14%;
    align-items: center;
    justify-content: flex-end;
}
.codingburn .codingburn-main 
.code-editor-box .output-area .lower-area{
    height: 86%;
    background-color: #0e1526;
    color: #fff;
    overflow-y: scroll;
}
.codingburn .codingburn-main 
.code-editor-box .output-area .lower-area
.output, .out-heading{
   padding: 10px;
}

.input-output-area-resizer {
    width: 5px;
    height: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
    cursor: col-resize;
    background-repeat: no-repeat;
    background-position: 60%;
}
.code-deitor-section-resizer-horizontal{
    width: 5px;
    height: 65px;
    cursor: ew-resize;
    background: #a19f9f;
    border-radius: 10px;
}
.resizer{
    width: 100%;
    justify-content:center;
    padding: 5px 0 5px 0;
}
.code-deitor-section-resizer-vertical{
    width: 65px;
    height: 5px;
    cursor: ns-resize;
    background: #a19f9f;
    border-radius: 10px;
}

/* section of codingburn */

.section{
    width: 100%;
    /* background-color: #0556f3; */
    color: var(--primary-text-color);
    padding: 30px 0 30px 0;
}
.section.section1{
    background-color: var(--mc6);
}
.section .inside-section{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Style for the container */
.h3-wrap {
    position: relative;
    width: calc(45% - 20px);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 9px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    background-color: #1d1e20;
}

/* Style for the absolute title */
.absolute-title {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    background-color: var(--mc5);
    padding: 5px 20px;
    border-radius: 0 9px;
}
.absolute-copy-button{
    position: absolute;
    top: 3.3rem;
    right: 1rem;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 2px 5px;
    background-color: var(--mc5);
    color: var(--primary-text-color);
    border: none;
    outline: none;
    font-size: 200;
}


/* Initially hide the elements */
#absolute-copy-button{
    display: none;
}

/* Show the elements when hovering over .h3-wrap */
.h3-wrap:hover #absolute-copy-button,
.h3-wrap:hover #absolute-section {
    display: block;
}















/* Style for the code block */
.absolute-section {
    text-align: left;
}

/* Style for the code block */
.code-block {
    background-color: #212121;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

/* Style for the pre tag */
.absolute-section pre {
    margin: 0;
}

/* Style for the code tag */
.absolute-section code {
    display: block;
    white-space: pre-wrap;
    overflow-x: auto;
    font-size: 17.6px;
}

/* Style for the comments */
.hljs-comment {
    color: #75715e;
}

/* Style for the keywords */
.hljs-keyword {
    color: #569CD6;
}

/* Style for the variables */
.hljs-variable {
    color: #9CDCFE;
}

/* Style for the strings */
.hljs-string {
    color: #CE9178;
}

/* Style for the functions */
.hljs-title {
    color: #dcdcaa;
}

